<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851366568576-39vt3hm0kli22jv6s846upe2s5jjjm7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851366568576-39vt3hm0kli22jv6s846upe2s5jjjm7c</string>
	<key>GCM_SENDER_ID</key>
	<string>851366568576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nagro.Nagro</string>
	<key>PROJECT_ID</key>
	<string>nagro-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nagro-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851366568576:ios:cc1f098dc00fe3c23ebc65</string>
</dict>
</plist>