<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Nagro</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.9.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.nagro.Nagro</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
				<string>nagro.link</string>
				<string>fb1075122403818477</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>165</string>
	<key>FDAllFilesDownloadedMessage</key>
	<string>All files have been downloaded</string>
	<key>FDMaximumConcurrentTasks</key>
	<integer>5</integer>
	<key>FacebookAppID</key>
	<string>1075122403818477</string>
	<key>FacebookClientToken</key>
	<string>75f9585af7f86abb57f33fdb85530e54</string>
	<key>FacebookDisplayName</key>
	<string>APP-NAGRO</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>O aplicativo Nagro precisa da sua autorização para biometria facial.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Use to automatic login</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Always and when in use!</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Can I haz location always?</string>
	<key>NSLocationUsageDescription</key>
    <string>Older devices need location.</string>
    <key>NSAppleMusicUsageDescription</key>
	<string>O aplicativo Nagro precisa da sua autorização para o apple music para futuras avaliacões de credito.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>O app Nagro utiliza sua localização apenas durante o uso para garantir crédito seguro e personalizado.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>O aplicativo Nagro precisa da sua autorização para usar microfone para futuras avaliacões de credito.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Usado para acessar arquivos e enviar um pdf</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.apple.corespotlightitem</string>
		<string>com.apple.webkit.webcontent</string>
	</array>
	<key>NSAssociatedDomains</key>
	<array>
		<string>applinks:nagro.link</string>
	</array>
<key>LSApplicationQueriesSchemes</key>
<array>
  <string>sms</string>
  <string>tel</string>
</array>
</dict>
</plist>
